.btn{
    font-size: 1.5rem;
    color: #fff;
    background: #ce1212;
    border-radius: 4rem;
    transition: 0.3s;
}
.btn--about{
    padding: 1.5rem 3rem;
    animation: movetoTop 1s ease;
}
.btn--card{
    background: rgba(255, 255, 255, 0.3);
    color: white;
}
